<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>space-junk</title>
<meta name="description" content="tools for the space-junk engine">
<meta name="viewport" content="width=device-width, initial-scale=1">

<% styles.forEach( function ( file ) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>" />
<% }); %>

<script data-main="src/main" src="<%= requirePath %>"></script>

</head>
<body>

<div class="container">

<div id="header-row">
</div>

<div id="editor-row">

	<div id="editor-title">Title</div>
	<div id="editor"></div>
	<div id="editor-status"></div>

</div>

<div id="footer-row">
</div>

</div>

</body>
</html>
